<div class="sidebar sidebar-hide-to-small sidebar-shrink sidebar-gestures">
  <div class="nano">
    <div class="nano-content">
      <div class="logo"><a href="index.html"><span>FlexiTime</span></a></div>
      <ul>
        <li class="label">Principale</li>
        <li class="active"><a class="sidebar-sub-toggle"><i class="ti-home"></i> Dashboard <span class="badge badge-primary"></span></a>
        </li>

        <li class="label">Menu</li>
        <li>
          <a class="sidebar-sub-toggle" (click)="toggleUserMenu()">
            <i class="ti-user -chart-alt"></i> Gestion des Utilisateurs
            <span class="sidebar-collapse-icon ti-angle-down rotate" [ngClass]="{'active': isUserMenuOpen}"></span>
          </a>
          <ul class="submenu" [ngClass]="{'active': isUserMenuOpen}">
            <li><a [routerLink]="['/admin/users-list']">Liste des utilisateurs</a></li>
            <li><a [routerLink]="['/admin/users-create']">Créer un utilisateur</a></li>
            <li><a [routerLink]="['/admin/users-role-management']">Rôles et permissions</a></li>
          </ul>
        </li>


        <li>
          <a class="sidebar-sub-toggle" (click)="toggleLeaveMenu()">
            <i class="ti-ticket -chart-alt"></i> Gestion des congés
            <span class="sidebar-collapse-icon ti-angle-down rotate" [ngClass]="{'active': isLeaveMenuOpen}"></span>
          </a>
          <ul class="submenu" [ngClass]="{'active': isLeaveMenuOpen}">
            <li><a [routerLink]="['/admin/leave-request-list']">Liste des demandes de congés</a></li>
            <li><a [routerLink]="['/admin/leave-config']">Configuration des congés</a></li>
            <li><a [routerLink]="['/admin/holiday-config']">Jours fériés</a></li>
          </ul>
        </li>

        <li>
          <a class="sidebar-sub-toggle" (click)="toggleReportMenu()">
            <i class="ti-stats-up -chart-alt"></i> Rapports et Statistiques
            <span class="sidebar-collapse-icon ti-angle-down rotate" [ngClass]="{'active': isReportMenuOpen}"></span>
          </a>
          <ul class="submenu" [ngClass]="{'active': isReportMenuOpen}">
            <li><a [routerLink]="['/admin/leave-report']">Rapports de congés</a></li>
            <li><a href="chart-flot.html">Statistiques des rapports</a></li>
          </ul>
        </li>

        <li><a [routerLink]="['/admin/leave-calendar-view']"><i class="ti-calendar grid2-alt"></i> Calendrier de congés</a></li>
        <li><a href="app-widget-card.html"><i class="ti-key grid2-alt"></i> Paramètres de l’Application</a></li>
        <li><a href="app-widget-card.html"><i class="ti-book grid2-alt"></i>Journal des Activités</a></li>


        <li><a (click)="logout()"><i class="ti-close"></i> Je me déconnecte</a></li>
      </ul>
    </div>
  </div>
</div>


<div class="header">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-12">
        <div class="float-left">
          <div class="">
            <span class="line"></span>
            <span class="line"></span>
            <span class="line"></span>
          </div>
        </div>
        <div class="float-right">
          <ul>
            <li class="header-icon dib"><i class="ti-bell"></i>
              <div class="drop-down">
                <div class="dropdown-content-heading">
                  <span class="text-left">Recent Notifications</span>
                </div>
              </div>
            </li>
            <li class="header-icon dib"><i class="ti-email"></i>
              <div class="drop-down">
                <div class="dropdown-content-heading">
                  <span class="text-left">2 New Messages</span>
                  <a href="email.html"><i class="ti-pencil-alt pull-right"></i></a>
                </div>
              </div>
            </li>
            <li class="header-icon dib">
              <span class="user-avatar">{{ user?.firstName }} <i class="ti-angle-down f-s-10"></i></span>
              <div class="drop-down">
                <div class="dropdown-content-heading">
                  <span class="text-left">User Details</span>
                </div>
                <div class="dropdown-content">
                  <span>Email: {{ user?.email }}</span><br />
                  <span>Phone: {{ user?.phoneNumber }}</span>
                </div>
                <div class="dropdown-footer">
                  <button (click)="logout()">Logout</button>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>






<div class="content-wrap">
  <div class="main">
      <div class="container-fluid">
          <div class="row">
              <div class="col-lg-8 p-r-0 title-margin-right">
                  <div class="page-header">
                      <div class="page-title">
                        <h1>
                          <span class="emoji">👋</span>
                          Salut,
                          <span class="highlight">Bienvenue</span>
                          dans
                          <span class="brand-name">FlexiTime</span>
                        </h1>
                      </div>
                  </div>
              </div>
              <!-- /# column -->
              <div class="col-lg-4 p-l-0 title-margin-left">
                  <div class="page-header">
                      <div class="page-title">
                          <ol class="breadcrumb">
                              <li class="breadcrumb-item"><a [routerLink]="['/admin/dashboard']">Dashboard</a></li>
                              <li class="breadcrumb-item active">Accueil</li>
                          </ol>
                      </div>
                  </div>
              </div>
              <!-- /# column -->
          </div>
          <!-- /# row -->
          <section id="main-content">
              <div class="row">
                  <div class="col-lg-3">
                      <div class="card">
                          <div class="stat-widget-one">
                              <div class="stat-icon dib"><i class="ti-world grid2 color-pink border-pink"></i></div>
                              <div class="stat-content dib">
                                  <div class="stat-text">Total Congés</div>
                                  <div class="stat-digit">1,012</div>
                              </div>
                          </div>
                      </div>
                  </div>
                  <div class="col-lg-3">
                      <div class="card">
                          <div class="stat-widget-one">
                              <div class="stat-icon dib"><i class="ti-hand-open color-primary border-primary"></i></div>
                              <div class="stat-content dib">
                                  <div class="stat-text">Congé Attente</div>
                                  <div class="stat-digit">961</div>
                              </div>
                          </div>
                      </div>
                  </div>
                  <div class="col-lg-3">
                      <div class="card">
                          <div class="stat-widget-one">
                              <div class="stat-icon dib"><i class="ti-face-smile color-success border-success"></i></div>
                              <div class="stat-content dib">
                                  <div class="stat-text">Congé Acceptés</div>
                                  <div class="stat-digit">770</div>
                              </div>
                          </div>
                      </div>
                  </div>
                  <div class="col-lg-3">
                      <div class="card">
                          <div class="stat-widget-one">
                              <div class="stat-icon dib"><i class="ti-face-sad color-danger border-danger"></i></div>
                              <div class="stat-content dib">
                                  <div class="stat-text">Congé Réfusés</div>
                                  <div class="stat-digit">2,781</div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="row">
                  <div class="col-lg-8">
                      <div class="card">
                          <div class="card-title">
                              <h4>Liste des demandes de congés en attente</h4>

                          </div>
                          <div class="card-body">
                              <div class="ct-bar-chart m-t-30"></div>
                          </div>
                      </div>
                  </div>

                  <div class="col-lg-4">
                      <div class="card">

                          <div class="card-body">
                              <div class="ct-pie-chart"></div>
                          </div>
                      </div>
                  </div>
              </div>

              <div class="row">
                <div class="col-lg-12">
                    <div class="footer">
                        <p> ©2024 FlexiTime -- Devélopper par <a href="https://www.linkedin.com/in/afferyauxencedelorschabehou/"> Affery Auxence Delors CHABEHOU.</a></p>
                    </div>
                </div>
            </div>
          </section>
      </div>
  </div>
</div>




<div id="search">
  <button type="button" class="close">×</button>
  <form>
    <input type="search" value="" placeholder="type keyword(s) here" />
    <button type="submit" class="btn btn-primary">Search</button>
  </form>
</div>
