<div class="flex justify-center items-center min-h-screen">
  <div class="bg-white p-8 rounded-lg shadow-md w-96">
    <h2 class="text-2xl font-semibold mb-4">Réinitialiser le mot de passe</h2>
    <form [formGroup]="resetPasswordForm" (ngSubmit)="onResetPassword()">
      <div>
        <input
          formControlName="email"
          type="email"
          placeholder="Email"
          class="w-full p-3 border border-gray-300 rounded-md"
        />
        <div *ngIf="resetPasswordForm.get('email')?.invalid && resetPasswordForm.get('email')?.touched" class="text-red-500 text-sm">
          Veuillez entrer un email valide.
        </div>
      </div>
      <button type="submit" class="mt-4 bg-blue-600 text-white py-2 px-4 rounded-md w-full">
        Envoyer le lien de réinitialisation
      </button>
    </form>
    <div *ngIf="successMessage" class="text-green-500 mt-4">{{ successMessage }}</div>
    <div *ngIf="errorMessage" class="text-red-500 mt-4">{{ errorMessage }}</div>
  </div>
</div>
