h1 {
  color: #333;
  text-align: center;
}

h1 span {
  display: inline-block;
  padding: 0 5px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 5px;
}

.highlight {
  font-weight: bold;
  color: #007bff;
}

.brand-name {
  font-size: 1.2em;
  font-family: 'Arial Black', Tahoma, Geneva, Verdana, sans-serif;
  color: #ff6600;
}

.emoji {
  margin-right: 5px;
  vertical-align: middle;
}





.submenu {
  display: none; /* Masquer par défaut */
  margin-left: 15px; /* Indentation pour les sous-menus */
  padding: 0; /* Supprimer le padding */
}

.submenu.active {
  display: block; /* Afficher le sous-menu si actif */
}

.submenu li {
  border-bottom: 1px solid #e0e0e0;
}

.submenu a {
  color: #ffffff;
  padding: 8px 15px;
}

.submenu a:hover {
  background-color: rgba(0, 123, 255, 0.2);
}


.rotate {
  transition: transform 0.3s ease;
}

.rotate.active {
  transform: rotate(180deg);
}


.card {
  margin: 0 auto;
}

.card-title {
  font-size: 1.5rem;
  text-align: center;
}

@media (max-width: 768px) {
  .table-responsive-sm {
    overflow-x: auto;
  }
}




.role-select {
  width: 100%; /* S'assurer que le sélecteur prend toute la largeur */
  border: 1px solid #ced4da; /* Couleur de la bordure */
  border-radius: 5px; /* Coins arrondis */
  background-color: #f8f9fa; /* Couleur d'arrière-plan */
}

.role-select .ng-select {
  padding: 5px 10px; /* Espacement intérieur */
}

.role-select .ng-select.ng-select-single {
  border-color: #007bff; /* Couleur de la bordure au survol */
}

.role-select .ng-select .ng-select-container {
  min-height: 38px; /* Hauteur minimum du sélecteur */
}

.role-select .ng-select .ng-select-container .ng-select-label {
  color: #333; /* Couleur du texte */
}

.progress-bar {
  background-color: #05ee11;
  transition: width 0.3s ease-in-out;
}

.card-header {
  background-color: #f8f9fa;
  border-bottom: 1px solid #dee2e6;
}

.card-body h4 {
  margin-bottom: 20px;
}


/* From Uiverse.io by StealthWorm */
.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 13rem;
  overflow: hidden;
  height: 3rem;
  background-size: 300% 300%;
  cursor: pointer;
  backdrop-filter: blur(1rem);
  border-radius: 5rem;
  transition: 0.5s;
  animation: gradient_301 5s ease infinite;
  border: double 4px transparent;
  background-image: linear-gradient(#212121, #212121),
    linear-gradient(
      137.48deg,
      #ffdb3b 10%,
      #fe53bb 45%,
      #8f51ea 67%,
      #0044ff 87%
    );
  background-origin: border-box;
  background-clip: content-box, border-box;
}

#container-stars {
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  overflow: hidden;
  transition: 0.5s;
  backdrop-filter: blur(1rem);
  border-radius: 5rem;
}

strong {
  z-index: 2;
  font-family: "Avalors Personal Use";
  font-size: 12px;
  letter-spacing: 5px;
  color: #ffffff;
  text-shadow: 0 0 4px white;
}

#glow {
  position: absolute;
  display: flex;
  width: 12rem;
}

.circle {
  width: 100%;
  height: 30px;
  filter: blur(2rem);
  animation: pulse_3011 4s infinite;
  z-index: -1;
}

.circle:nth-of-type(1) {
  background: rgba(254, 83, 186, 0.636);
}

.circle:nth-of-type(2) {
  background: rgba(142, 81, 234, 0.704);
}

.btn:hover #container-stars {
  z-index: 1;
  background-color: #212121;
}

.btn:hover {
  transform: scale(1.1);
}

.btn:active {
  border: double 4px #fe53bb;
  background-origin: border-box;
  background-clip: content-box, border-box;
  animation: none;
}

.btn:active .circle {
  background: #fe53bb;
}

#stars {
  position: relative;
  background: transparent;
  width: 200rem;
  height: 200rem;
}

#stars::after {
  content: "";
  position: absolute;
  top: -10rem;
  left: -100rem;
  width: 100%;
  height: 100%;
  animation: animStarRotate 90s linear infinite;
}

#stars::after {
  background-image: radial-gradient(#ffffff 1px, transparent 1%);
  background-size: 50px 50px;
}

#stars::before {
  content: "";
  position: absolute;
  top: 0;
  left: -50%;
  width: 170%;
  height: 500%;
  animation: animStar 60s linear infinite;
}

#stars::before {
  background-image: radial-gradient(#ffffff 1px, transparent 1%);
  background-size: 50px 50px;
  opacity: 0.5;
}

@keyframes animStar {
  from {
    transform: translateY(0);
  }

  to {
    transform: translateY(-135rem);
  }
}

@keyframes animStarRotate {
  from {
    transform: rotate(360deg);
  }

  to {
    transform: rotate(0);
  }
}

@keyframes gradient_301 {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

@keyframes pulse_3011 {
  0% {
    transform: scale(0.75);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.7);
  }

  70% {
    transform: scale(1);
    box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
  }

  100% {
    transform: scale(0.75);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }
}


